name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Build
        run: make build

      - name: Unit Tests
        run: |
          go install github.com/jstemmer/go-junit-report/v2@latest
          go test ./... -count=1 -v 2>&1 | go-junit-report -set-exit-code > unit-tests.xml

      - name: Acceptance Tests
        run: ./bin/basanos -s spec -o junit > acceptance-tests.xml

      - name: Publish Test Results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Test Results
          path: '*.xml'
          reporter: java-junit
